Web/App_WebReferences/ServicioWeb/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="AltaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="U" nillable="true" type="q1:Usuarios" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q2:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="LogueoUsuarioResult" nillable="true" type="q3:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="B" nillable="true" type="q4:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="A" nillable="true" type="q5:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ndoc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q6:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListarLectorResult" nillable="true" type="q7:ArrayOfLector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaNoticias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="N" nillable="true" type="q8:Noticias" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q9:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaNoticiasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaNoticia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="N" nillable="true" type="q10:Noticias" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q11:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaNoticiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarNoticia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="N" nillable="true" type="q12:Noticias" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q13:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarNoticiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNoticia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNoticiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarNoticiaResult" nillable="true" type="q14:Noticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCompletoNoticias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCompletoNoticiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListarCompletoNoticiasResult" nillable="true" type="q15:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoRelevantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoRelevantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListoRelevantesResult" nillable="true" type="q16:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoEconomicas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoEconomicasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListoEconomicasResult" nillable="true" type="q17:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoPoliticas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoPoliticasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListoPoliticasResult" nillable="true" type="q18:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoPoliciales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoPolicialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListoPolicialesResult" nillable="true" type="q19:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoInternacionales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListoInternacionalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListoInternacionalesResult" nillable="true" type="q20:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoNoticiasPeriodistaXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="P" nillable="true" type="q21:Periodista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoNoticiasPeriodistaXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListadoNoticiasPeriodistaXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComentarNoticia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="N" nillable="true" type="q22:Noticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComentarNoticiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPeriodista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="L" nillable="true" type="q23:Periodista" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q24:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPeriodistaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPeriodista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="l" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPeriodistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarPeriodistaResult" nillable="true" type="q25:Periodista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPeriodista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPeriodistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ListarPeriodistaResult" nillable="true" type="q26:ArrayOfPeriodista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaPeriodista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="L" nillable="true" type="q27:Periodista" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q28:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaPeriodistaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPeriodista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="L" nillable="true" type="q29:Periodista" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="adminBD" nillable="true" type="q30:Administrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPeriodistaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>