ApEscritorio/Service References/ServicioWindows/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AltaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_AltaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogueoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LogueoUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_LogueoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogueoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarLector_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLector" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarLector_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLectorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AltaNoticias_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaNoticias" />
  </wsdl:message>
  <wsdl:message name="IService1_AltaNoticias_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaNoticiasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaNoticia_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaNoticia" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaNoticia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarNoticia_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarNoticia" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarNoticia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarNoticia_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNoticia" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarNoticia_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarCompletoNoticias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompletoNoticias" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarCompletoNoticias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompletoNoticiasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoRelevantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListoRelevantes" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoRelevantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListoRelevantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoEconomicas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListoEconomicas" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoEconomicas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListoEconomicasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoPoliticas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListoPoliticas" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoPoliticas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListoPoliticasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoPoliciales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListoPoliciales" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoPoliciales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListoPolicialesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoInternacionales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListoInternacionales" />
  </wsdl:message>
  <wsdl:message name="IService1_ListoInternacionales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListoInternacionalesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoNoticiasPeriodistaXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoNoticiasPeriodistaXML" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoNoticiasPeriodistaXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoNoticiasPeriodistaXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComentarNoticia_InputMessage">
    <wsdl:part name="parameters" element="tns:ComentarNoticia" />
  </wsdl:message>
  <wsdl:message name="IService1_ComentarNoticia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComentarNoticiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AltaPeriodista_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaPeriodista" />
  </wsdl:message>
  <wsdl:message name="IService1_AltaPeriodista_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarPeriodista_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPeriodista" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarPeriodista_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarPeriodista_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPeriodista" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarPeriodista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaPeriodista_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaPeriodista" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaPeriodista_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaPeriodistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarPeriodista_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPeriodista" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarPeriodista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPeriodistaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AltaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AltaUsuario" message="tns:IService1_AltaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AltaUsuarioResponse" message="tns:IService1_AltaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogueoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogueoUsuario" message="tns:IService1_LogueoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogueoUsuarioResponse" message="tns:IService1_LogueoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BajaUsuario" message="tns:IService1_BajaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BajaUsuarioResponse" message="tns:IService1_BajaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarUsuario" message="tns:IService1_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarUsuarioResponse" message="tns:IService1_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarUsuario" message="tns:IService1_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarUsuarioResponse" message="tns:IService1_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLector">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarLector" message="tns:IService1_ListarLector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarLectorResponse" message="tns:IService1_ListarLector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaNoticias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AltaNoticias" message="tns:IService1_AltaNoticias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AltaNoticiasResponse" message="tns:IService1_AltaNoticias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaNoticia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BajaNoticia" message="tns:IService1_BajaNoticia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BajaNoticiaResponse" message="tns:IService1_BajaNoticia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarNoticia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarNoticia" message="tns:IService1_ModificarNoticia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarNoticiaResponse" message="tns:IService1_ModificarNoticia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNoticia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarNoticia" message="tns:IService1_BuscarNoticia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarNoticiaResponse" message="tns:IService1_BuscarNoticia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCompletoNoticias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarCompletoNoticias" message="tns:IService1_ListarCompletoNoticias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarCompletoNoticiasResponse" message="tns:IService1_ListarCompletoNoticias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListoRelevantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListoRelevantes" message="tns:IService1_ListoRelevantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListoRelevantesResponse" message="tns:IService1_ListoRelevantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListoEconomicas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListoEconomicas" message="tns:IService1_ListoEconomicas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListoEconomicasResponse" message="tns:IService1_ListoEconomicas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListoPoliticas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListoPoliticas" message="tns:IService1_ListoPoliticas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListoPoliticasResponse" message="tns:IService1_ListoPoliticas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListoPoliciales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListoPoliciales" message="tns:IService1_ListoPoliciales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListoPolicialesResponse" message="tns:IService1_ListoPoliciales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListoInternacionales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListoInternacionales" message="tns:IService1_ListoInternacionales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListoInternacionalesResponse" message="tns:IService1_ListoInternacionales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoNoticiasPeriodistaXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListadoNoticiasPeriodistaXML" message="tns:IService1_ListadoNoticiasPeriodistaXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListadoNoticiasPeriodistaXMLResponse" message="tns:IService1_ListadoNoticiasPeriodistaXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComentarNoticia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComentarNoticia" message="tns:IService1_ComentarNoticia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComentarNoticiaResponse" message="tns:IService1_ComentarNoticia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaPeriodista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AltaPeriodista" message="tns:IService1_AltaPeriodista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AltaPeriodistaResponse" message="tns:IService1_AltaPeriodista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPeriodista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarPeriodista" message="tns:IService1_BuscarPeriodista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarPeriodistaResponse" message="tns:IService1_BuscarPeriodista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPeriodista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarPeriodista" message="tns:IService1_ListarPeriodista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarPeriodistaResponse" message="tns:IService1_ListarPeriodista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaPeriodista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BajaPeriodista" message="tns:IService1_BajaPeriodista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BajaPeriodistaResponse" message="tns:IService1_BajaPeriodista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPeriodista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarPeriodista" message="tns:IService1_ModificarPeriodista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarPeriodistaResponse" message="tns:IService1_ModificarPeriodista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/AltaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogueoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/LogueoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLector">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarLector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaNoticias">
      <soap:operation soapAction="http://tempuri.org/IService1/AltaNoticias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaNoticia">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarNoticia">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNoticia">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCompletoNoticias">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarCompletoNoticias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoRelevantes">
      <soap:operation soapAction="http://tempuri.org/IService1/ListoRelevantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoEconomicas">
      <soap:operation soapAction="http://tempuri.org/IService1/ListoEconomicas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoPoliticas">
      <soap:operation soapAction="http://tempuri.org/IService1/ListoPoliticas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoPoliciales">
      <soap:operation soapAction="http://tempuri.org/IService1/ListoPoliciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListoInternacionales">
      <soap:operation soapAction="http://tempuri.org/IService1/ListoInternacionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoNoticiasPeriodistaXML">
      <soap:operation soapAction="http://tempuri.org/IService1/ListadoNoticiasPeriodistaXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComentarNoticia">
      <soap:operation soapAction="http://tempuri.org/IService1/ComentarNoticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPeriodista">
      <soap:operation soapAction="http://tempuri.org/IService1/AltaPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPeriodista">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPeriodista">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPeriodista">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPeriodista">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarPeriodista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://waldemar-pc/Servicio/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>