ApEscritorio/Service References/ServicioWindows/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://waldemar-pc/Servicio/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:complexType name="QueueOfComentariosrzoQK7bR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="QueueOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Comentarios" Namespace="http://schemas.datacontract.org/2004/07/Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" name="_array" nillable="true" type="q1:ArrayOfComentarios" />
      <xs:element name="_head" type="xs:int" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_tail" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOfComentariosrzoQK7bR" nillable="true" type="tns:QueueOfComentariosrzoQK7bR" />
</xs:schema>